html
    head
        link(rel="stylesheet" type="text/css" href = "/css/style.css")
    body
        h1=title
        h3 CS493 Homework 7
        ul
            li #[span Email]: #{email}
            li #[span JWT]: #{jwt}

