html
    head
        link(rel="stylesheet" type="text/css" href = "/css/style.css")
    body
        h1=title
        h3 CS493 Homework 7
        ul
            for user in users
                li #{user.email}, #{user.user_id}
                //- li=user.user_id

                    